body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 90vh;
}
.container{
    display: flex;
    gap: 140PX;
    justify-content: center;
    align-items: center; 
}
.cuadros{
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    border: 1px solid rgb(223, 192, 192);
    box-shadow: 0 3px 3px rgb(72, 72, 75);
    padding: 20px;
    width: 230px;
    text-align: center;

}
.cuadros h2 {
    margin: 10px 0;
}
.cuadros p {
    margin: 10px 0;
}
.cuadros ul li{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 20px 0;

}
.cuadros2{
    padding: 18px;
    box-shadow: 0 7px 10px rgb(96, 96, 99);
    width: 210px;
    position:absolute;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    background: linear-gradient(#1956b1, #64c9b1);
    padding-left: 0%;
    padding-right: 0%;
   
}
.cuadros2 ul li{
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 20px 0;
}
.buttons {
    margin-top: 20px;
}
.buttons a {
    display: inline-block;
    text-decoration: none;
    background-color:#98d6cc;
    border: 1px solid rgb(89, 199, 55);
    color: white;
    padding: 10px 10px;
    border-radius: 30px;
    margin: 5px;
    
}
.buttons a:hover{
    background-color: #69a798;
    color: white;
}